{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--css-->
     <link rel="stylesheet" href="{% static 'css/component.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/detail.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/mypage.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/modal.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/home.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/notice_board.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/search.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/edit_user_info.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/login.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/signup.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/new.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/edit.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/edit_youtube.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/create_youtube.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/add_comment.css'%}" type="text/css">
     <link rel="stylesheet" href="{% static 'css/edit_comment.css'%}" type="text/css">
     <!--폰트어썸-->
     <script src="https://kit.fontawesome.com/1b24a1a7da.js" crossorigin="anonymous"></script> 
     <!--모달js-->
     <script src ="/static/js/modal.js" defer></script>
     <!-- 좋아요 관련 js -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!--슬라이더-->
    <link rel="stylesheet" href="{% static 'css/slide.css'%}" type="text/css">
    <script src ="/static/js/slide.js" defer></script>
    <title>Document</title>
</head>
<body>
  
  <div id="modal" class="modal-overlay" style="display: none;">
      <div class="modal-window">
          <div class="title">
              <h2>How to Use?</h2>
          </div>
          <div class="close-area">X</div>
          <div class="content">
              <p>Hello, welcome to our service. Is this your first time on our website? I'll tell you how to use the site.</p>
              <p>Please sign up first. It takes very little time, so don't worry.
              </p>
              <p>There is a popular video collection post on the home screen. It will be of great help to you.
              </p>
              <p>If you have a video you want to find, you can search by pressing the "Search" button.
              </p>
              <p>Press "Create" to create your own collection of videos and share them with many people.
              </p>
              <p>I like your writing on My Page. Check out the text you pressed.
              </p>
          </div>
      </div>
  </div>

    <div class="side-header">

        <a class="logo" href="{% url 'home' %}">
          <i class="fas fa-globe"></i>
          <div style="margin-right: 25px;"><p style="text-align: center;">DMD</p>
          <p style="text-align: center;">STUDIO</p></div>
          
        </a>
    
        <div class="menu-buttons">
          <a href="{% url 'home' %}"> Home</a>
    
          {% if not user.is_authenticated %}
          <a href ="{% url 'login' %}">Login</a>
          {% endif %}
          
          {% if user.is_authenticated %}
          <a href ="{% url 'logout' %}">Logout</a>
          {% endif %}
    
          {% if not user.is_authenticated %}
          <a href ="{% url 'register' %}">Signup</a>
          {% endif %}
    
          {% if user.is_authenticated %}
          <a href="{% url 'mypage' %}">Mypage</a>
          {% endif %}
    
          <a href="{% url 'notice_board' 1 %}">About</a>
          
          <a href="{% url 'notice_board' 1 %}">Notice</a>
    
          <a href="{% url 'new' %}">Create</a>
    
          <a class="side-search-button" href="{% url 'video_list' %}">Search</a>
        </div>

        <div class="social-buttons">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-google"></i>
            <i class="fab fa-github"></i>
            <i class="fab fa-instagram"></i>
        </div>

    </div>

        <div class="container">

            <div class="upper-header">
             
              
              <a class="search-button" href="{% url 'video_list' %}">Search<i class="fas fa-search" style="margin-left:5px;"></i></a>
        
              <a id="btn-modal" class="how-to-use">
                How to use
              </a>
        
              <a class="write" href ="{% url 'new' %}">Create</a>
              
            </div> 
                
                
            {% block content %}
            <!--낑겨 넣을 부분-->
            {% endblock %}

        
            <footer>
              <div class="footer-content-top">MORE INFO ABOUT MY PAGE</div>
        
              <div class="footer-content-bottom">
                <div>ARCHIVE MD © 2021</div>
        
                <div class="footer-icons"> 
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-google"></i>
                  <i class="fab fa-github"></i>
                  <i class="fab fa-instagram"S></i>
                </div>
        
                <div>BE INSPIRED. BE INSPIRING.</div>
            </div>
            </footer>
              
        
        
        
        </div>
        
        <script type="text/javascript">
       
            function post_like(id) {
                console.log("hi")
                $.ajax({
                    url: "{%url 'likes'%}", // data를 전송할 url 입니다.
                    data: {
                        'blog_id': id
                    }, // post_id 라는 name으로 id 값 전송
                    dataType: "json",
                    success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
                        $('#like_count').html(response.like_count) //id가 like_count의 내용을 전송받은 좋아요 수로 바꾼다
                        $('#message').html(response.message) //id가 message의 내용을 전송받은 message로 바꾼다
                        $('.toast').fadeIn(400).delay(100).fadeOut(400) //class가 toast인 것을 서서히 나타나게 하는 메서드입니다.
                    }
                })
            }

        </script>
     
</body>
</html>