{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="info-section">

      <div class="info-1">
        <img src="{% static 'img/baseimg.jpg'%}" width="720" height="420" alt="사진">
        <div class="infos">
          {%for notice in notices %}
          <a href="{% url 'notice_board' notice.id %}">{{notice.notice_title}}{{notice.notice_pub_date}}</a>
          {% endfor %}
        </div>
      </div>

      <!-- <div class="info-3">
        <p>s</p>

       </div> -->

      <div class="info-2">
       <p>Archive MD Develropment</p>
       <p>By Dayun | Incheon, Korea</p>
       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div> 

    <!--인기글-->
    <p class="hot-posts">Hot Posts</p>

    <div class="popular-section">

      {% for popular_blog in popular_blogs.all %}
        <div class="popular-post">
        <!--이미지-->
        <a href="{% url 'detail' popular_blog.id %}">
          {% if popular_blog.cover_image %}
          <img src="{{popular_blog.cover_image.url}}" width="320" height="180" alt="사진">
          {% else %} 
          <img src="{% static 'img/baseimg.jpg'%}" width="320" height="180" alt="사진">
          {% endif %}
        </a>

        <div style="display: flex;  ">
          <p style="margin: 0;">{{popular_blog.title}}</p>
        </div>
        <p style="margin: 0;">by {{popular_blog.author}} | <i class="fas fa-heart"></i> <span style="color: rgb(223, 98, 98);">{{ popular_blog.like_count }}</span> </p>
      </div>
      {% endfor %}    

    </div>
    <div class="insert-box">

    </div>

    <!--일반 게시글 섹션-->
    <div class="post-section">

        {% for blog in blogs.all %}
          <div class="posts">
            <a href="{% url 'detail' blog.id %}">
              {% if blog.cover_image %}
              <img src="{{blog.cover_image.url}}" width="250" height="140" alt="사진">
              {% else %}
              <img src="{% static 'img/baseimg.jpg'%}" width="250" height="140" alt="사진">
              {% endif %}
            </a>

              <div style="display: flex;">
                <p style="margin: 0;">{{blog.title}}</p>
              
              </div>
              
              <p style="margin: 0;">by {{blog.author}} | <i class="fas fa-heart"></i> <span style="color: rgb(223, 98, 98);">{{blog.like.count}}</span></p>
          </div>
      {% endfor %}

    </div>

{% endblock %}