{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal</title>
    <script src="{% static 'blogapp/static/js/modal.js'%}"></script>
    <script src="modal.js"></script>

    <style>
       
    </style>
</head>

<body>
    <button id="btn-modal">How to Use</button>

    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                <h2>How to Use?</h2>
            </div>
            <div class="close-area">X</div>
            <div class="content">
                <p>가나다라마바사 아자차카타파하</p>
                <p>가나다라마바사 아자차카타파하</p>
                <p>가나다라마바사 아자차카타파하</p>
                <p>가나다라마바사 아자차카타파하</p>
                
            </div>
        </div>
    </div>

  


</body>
</html>