{% extends 'base.html' %}
{% load static%}


{% block content %}

<div class="create-section">
    <h1>Create New List</h1>


    <form id="new-form" action="{% url 'create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="new-title-input">Title: <input type="text" name="title" ></div>
        <div id="new-text-input">Text: <textarea name="body"  cols="30" rows="10"></textarea></div>
        <div id="new-cover-image">Cover Image : <input type="file" name="cover_image" value="{{ blog.cover_image}}"></div>
        <div id="new-hashtag-input" >#HashTags <input type="text" name="hashtags" placeholder="해시태그 ,로 구분"></div>
        <button id="create-submit-button" type="submit">Submit</button>
    </form>
</div>    
{% endblock %}